@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@325&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
}
